@page
@model WebAppCapellaKM_05.Pages.PubWorks.CreateModel

<h4>PubWork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkName" class="control-label"></label>
                <input asp-for="PubWork.PubWorkName" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkNote" class="control-label"></label>
                <input asp-for="PubWork.PubWorkNote" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkAbstract" class="control-label"></label>
                <input asp-for="PubWork.PubWorkAbstract" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkAbstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkKeywords" class="control-label"></label>
                <input asp-for="PubWork.PubWorkKeywords" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkKeywords" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PubWork.AuthorID" class="control-label"></label>
                <select asp-for="PubWork.AuthorID" class="form-control"
                        asp-items="@Model.AuthorNameSL">
                    <option value="">-- Select Author --</option>
                </select>
                <span asp-validation-for="PubWork.AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PublicationID" class="control-label"></label>
                <select asp-for="PubWork.PublicationID" class="form-control"
                        asp-items="@Model.PublicationNameSL">
                    <option value="">-- Select Publication --</option>
                </select>
                <span asp-validation-for="PubWork.PublicationID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
