@page
@model WebAppCapellaKM_05.Pages.PubWorks.EditModel

<h4>PubWork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PubWork.PubWorkKeyID" />
            <div class="form-group">
                <label asp-for="PubWork.PubWorkName" class="control-label"></label>
                <input asp-for="PubWork.PubWorkName" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkYear" class="control-label"></label>
                <input asp-for="PubWork.PubWorkYear" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkNotes" class="control-label"></label>
                <input asp-for="PubWork.PubWorkNotes" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkAbstract" class="control-label"></label>
                <input asp-for="PubWork.PubWorkAbstract" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkAbstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkKeywords" class="control-label"></label>
                <input asp-for="PubWork.PubWorkKeywords" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PubWorkKeyPhrases" class="control-label"></label>
                <input asp-for="PubWork.PubWorkKeyPhrases" class="form-control" />
                <span asp-validation-for="PubWork.PubWorkKeyPhrases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.PublicationID" class="control-label"></label>
                <input asp-for="PubWork.PublicationID" class="form-control" />
                <span asp-validation-for="PubWork.PublicationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubWork.AuthorID" class="control-label"></label>
                <input asp-for="PubWork.AuthorID" class="form-control" />
                <span asp-validation-for="PubWork.AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
    </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
